body{
    background: rgb(29,29,31);
    background: linear-gradient(90deg, rgba(29,29,31,1) 0%, rgba(41,41,50,1) 4%, rgba(72,73,80,1) 22%, rgba(94,96,98,1) 61%, rgba(151,156,157,1) 100%);
    display:flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif
}

body a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
}

.special-edit-ref-container{
    margin-bottom:50px;
}

.special-edit-ref{
    color:rgb(31, 122, 201);
    font-size:18px;
    font-weight:600;
    padding-bottom:2px;
    border-bottom:2px solid rgb(31, 122, 201);
    cursor:pointer;
}

.translate-refs-block{
    margin-bottom:40px;
}

.translate-refs-list {
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
}

.refs-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

.translate-ref{
    color:white;
    background-color:rgba(41,41,50,1);
    font-size:16px;
    width:35px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    border-radius:4px;
    cursor:pointer
}

.translate-ref:hover{
    background-color:rgb(31, 122, 201);
}

section {
    background-color: rgb(206, 212, 218);
    width: 80%;
    min-height: 100vh;
    position: relative;
}

.header{
    display: flex;
    flex-direction: column;
}

.h-menu-line{
    background-color: rgb(31, 122, 201);
    padding: 15px;
    padding-left: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings{
    position: relative;
    display: flex;
    flex-direction: row;
}

.settings a{
    margin-left: 30px;
}

.settings img{
    height: 30px;
}

.admin-title{
    font-size: 18px;
}

.main{
    display: flex;
}

.work-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.admin-short-info {
    height: 100px;
    background-image: url(/common_imgs/admin-fone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 7px;
}

.admin-info-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-info-group img{
    width: 35px;
    height: auto;
    margin-right: 20px;
}

.admin-info-group span{
    color: white;
    font-size: 20px;
}

.side{
    width: fit-content;
    position: relative;
}

.side-bar{
    min-width: 250px;
    background-color:rgb(40, 40, 52);
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.working-element{
    color: white;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
}

.working-element-active{
    background-color: rgb(31, 122, 201);
}

.current-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position:relative;
}

.current-image{
    width:70%;
    height:auto;
}

@media screen and (max-width:1000px) {
    section{
        width: 100%;
    }
}

@media screen and (max-width:805px) {
    .main{
        flex-direction: column;
        align-items:center ;
        padding-top: 10px;
    }

    .side-bar{
        height: fit-content;
    }

    .work-part{
        width: fit-content;
    }
}

@media screen and (max-width:650px) {
    .blog-element{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .blog-element-data{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .blog-edit-ref{
        margin-left: 0;
    }

    .time-data{
        margin-bottom: 10px;
    }

    .work-part{
        padding: 5px;
    }
}